.group-content-settings {
  .sharing_panel {
    @include position(relative);
  }
  .input-_meta_title {
    @include no-bottom-border;
    padding: 0.75em 1em 0 6.25em;
    .label { display: none; }
    input { font-weight: $medium; }
  }
  .input-_meta_description {
    @include no-bottom-border;
    min-height: 63px;
    padding: 0.25em 1em 1em 6.25em;
    .label { display: none; }
    textarea { font-size: 0.9em; }
  }
}

.group-content-editor {
  @include position(relative);
  background-color: $white-color;

  .input-_slug {
    @include no-bottom-border;
    padding-bottom: 0;
  }

  .input-title {
    @include no-bottom-border;
    padding-bottom: 0;
    padding-right: 4.5em;
    font-weight: $medium;

    &.error:after {
      background-color: $assertive-color;
    }
  }

  .input-title,
  .input-body_markdown {
    padding-top: 1em;

    .label {
      display: none;
    }
  }

  .input-_slug {
    padding-top: 0;
    opacity: 0.5;
  }

  .publish { display: none; }
  .unpublish { display: block; }
}

.view-content-draft .group-content-editor {
  .publish { display: block; }
  .unpublish { display: none; }
}

.group-content-editor-panel {
  @include position(relative, -1px null null null);
  background-color: $white-color;
  height: 2.5em;
  border-top: 2px solid $bg-color;

  button {
    float: right;
    font-size: 0.8em;
    margin: 0.5em 0.6em 0;
  }

  .unpublish {
    border-color: $border-color;
    color: $secondary-font-color;
    float: left;
  }
}

.view-new .group-content-editor-actions {
  display: none;
}

.content-delete {
  i { @include position(relative, -1px null null null); }
  &:hover { color: $assertive-color; }
}

.group-content-editor-actions {
  @include position(absolute, 0.5em 0.5em null null);
  z-index: 1;

  a {
    display: inline-block;
    float: right;
    width: 2em;
    height: 2em;
    line-height: 2;
    text-align: center;
    color: $base-font-color;
    opacity: 0.25;

    &:hover { opacity: 0.75; }
  }
}

/* Tablet ------------------------------------------------------------------ */
@media #{$tablet} {
  .group-content-settings {
    .sharing_panel {
      min-height: 17.8em;
    }
    .input-_meta_title {
      padding-left: 15.25em;
    }
    .input-_meta_description {
      padding-left: 15.25em;
    }
  }
}
