.view-menu {
  .nested-forms {
    padding-top: 1.5em;

    &> .label {
      display: none;
    }
  }

  .input-title {
    padding: 0.75em 1em 0.75em;

    .label {
      display: none;
    }

    input {
      font-weight: $medium;
      padding-right: 1em;
    }
  }

  .input-url {
    padding: .65em 1em 0.75em;

    .label-title { display: none; }
    .label { height: 0; }

    .input-actions {
      top: 0.6em;
      right: 1.1em;

      a {
        @include position(relative, -2.4em null null null);
        font-size: initial;
        color: $secondary-font-color;

        &:hover { color: $base-font-color; }
      }
    }

    input {
      font-size: 0.9em;
      padding-right: 5em;
      color: $secondary-font-color;
    }
  }
}

/* Tablet ------------------------------------------------------------------ */
@media #{$tablet} {
  .view-menu {
    .nested-forms {
      padding-left: 0;
    }
  }
}
