.sidebar-profile {
  @include position(relative);
  background-color: $sidebar-active-bg-color;
  padding: 10px 5px 10px 50px;
  line-height: 1.75;

  img {
    @include position(absolute, 8px null null 0px);
    border-radius: 16px;
    margin-left: 10px;
    width: 32px;
  }

  a {
    color: $sidebar-color;
    &:hover {
      color: $white-color;
    }
  }

  a:last-child {
    @include position(absolute, null 1em null null);
  }
}

/* Tablet ------------------------------------------------------------------ */
@media #{$tablet} {
  .sidebar-profile {
    line-height: 1.2;
    font-size: .75em;
  }
  .sidebar-profile a {
    display: block;
  }
  .sidebar-profile a:last-child {
    position: relative;
    right: 0;
  }
}
