.input-_slug {
  font-size: 0.8em;
  padding-left: 1.25em;
  padding-right: 1.25em;

  .label {
    cursor: pointer;
    display: inline-block;
  }

  .error-message {
    display: none;
  }

  input {
    display: inline-block;
    padding: 0;
    width: 18em;
  }
}
