<div class="sidebar-profile" style="display:none;">
  <% user = current_admin_user %>
  <%= image_tag user._list_item_thumbnail %>

  <% name = (user.name.presence || "").strip.split(' ').first %>
  <% path = "#/settings/admins/view/#{user.id}" %>
  <%= link_to name, path %>

  <%= link_to "Sign out", destroy_admin_user_session_path, method: :delete %>
</div>
