
// Preview & Open view header link

.header {
  .link {
    @include position(absolute, 0 1em null null);
    color : $positive-color;

    &.open { right : 4em; }
  }
}

// List header CSV button

.header {
  .csv + .search { right : 40px; }
  .csv {
    @include position(absolute, 0 0 null null);
    display : block;
    width   : 40px;
    height  : 40px;

    &:after {
      content    : 'csv';
      width      : 100%;
      text-align : center;
      margin-top : -.7em;
      color      : $positive-color;
    }
  }
}

.list-search .header {
  .csv + .search { @include position(absolute, 0 0 null 0); }
}
